* {
  box-sizing: border-box;
}
body {
  background: linear-gradient(#8b939a, #5b6467);
  font-family: sans-serif;
}
@media (max-width: 600px) {
  .container {
    min-height: 100vh;
    text-align: center;
    padding: 1rem;
  }
  #judul h1 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: 3rem;
    color: white;
  }
  #judul p {
    font-size: 1rem;
  }
  #judul a {
    text-decoration: none;
    color: black;
  }
  #judul a:hover {
    color: white;
  }
  #comp p {
    margin-top: 1.2rem;
    color: white;
    text-transform: uppercase;
  }
  #comp img {
    margin: 1.2rem 0 0 0;
    max-width: 30vw;
    border-radius: 50%;
    overflow: hidden;
  }
  #player {
    /* margin-top: -rem; */
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
  }
  .tplayer {
    color: white;
    margin-top: 3.5rem;
    text-transform: uppercase;
    /* font-weight: bold;  */
  }
  #player img {
    margin: 1.2rem 0 2rem 0;
    max-width: 25vw;
    order: 1;
    overflow: hidden;
    border-radius: 50%;
  }
  #player img:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
  .result {
    color: white;
    font-weight: bold;
    font-size: 1rem;
    width: 80%;
    text-align: justify;
    margin: auto;
  }
  .score {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-size: 1.1rem;
  }
  .score .sP {
    color: white;
  }
  .score .sK {
    color: white;
  }
  */ #comp {
    margin-top: 3rem;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
  }
  .reload {
    display: none;
    margin-top: 2rem;
    padding: 1rem;
    background: green;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  .info {
    margin: 2rem auto;
    max-width: 80vw;
    height: 10vh;
    line-height: 8.2vh;
    border: 5px solid salmon;
    color: white;
    border-radius: 50px;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  }
  .info p {
    opacity: 0.5;
  }
  .footer p {
    line-height: 1.5rem;
    color: white;
  }
  .result {
    font-size: 2rem;
    color: white;
    text-align: center;
  }
  .noclick {
    cursor: not-allowed;
    pointer-events: none;
  }
  .footer {
    text-align: center;
    width: 80%;
    margin: auto;
    font-size: 1rem;
  }
}
@media (min-width: 600px) {
  .container {
    min-height: 100vh;
    text-align: center;
    padding: 1rem;
    text-align: center;
  }
  #judul h1 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: 4rem;
    color: white;
  }
  #judul p {
    font-size: 1rem;
  }
  #judul a {
    text-decoration: none;
    color: black;
  }
  #judul a:hover {
    color: white;
  }
  #comp img {
    margin-top: 1.5rem;
    max-width: 20vw;
    border-radius: 50%;
    overflow: hidden;
  }
  #player {
    margin-top: -0.5rem;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
  }
  .tplayer {
    color: white;
    margin-top: 3.5rem;
    text-transform: uppercase;
    font-weight: bold;
  }
  #player img {
    margin: 2rem 0 2rem 0;
    max-width: 20vw;
    order: 1;
    overflow: hidden;
    border-radius: 50%;
  }
  #player img:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
  .score {
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    /* padding: 0 5em; */
    flex-wrap: wrap;
    font-size: 1.1rem;
    width: 80%;
    margin: auto;
    /* border: 5px solid red; */
  }
  .score .sP {
    /* border: 2px solid blue; */
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
  }
  .score .sK {
    /* margin: auto 2rem auto auto; */
    /* border: 2px solid red; */
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
  }
  .result {
    color: white;
    font-weight: bold;
    font-size: 1rem;
    width: 80%;
    text-align: justify;
    margin: auto;
  }
  #comp {
    margin-top: 3rem;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
  }
  .reload {
    display: none;
    margin-top: 2rem;
    padding: 1rem;
    background: green;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  .info {
    margin: 2rem auto;
    max-width: 80vw;
    height: 20vh;
    line-height: 18vh;
    font-size: 1.5rem;
    text-align: center;
    border: 5px solid salmon;
    color: white;
    border-radius: 50px;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  }
  .info p {
    opacity: 0.5;
  }
  .footer {
    width: 80%;
    margin: auto;
  }
  .footer p {
    line-height: 1.4rem;
    font-size: 1.2rem;
    padding: 0 0.8em;
    color: white;
    text-align: center;
  }
  .result {
    font-size: 3rem;
    color: white;
  }
  .noclick {
    cursor: not-allowed;
    pointer-events: none;
  }
}
